@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
    overflow-x: hidden;
    /* padding-bottom:102px; */
    font-family: 'Roboto', sans-serif;
    
}


#contact-fix{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.contact-footer{
    margin-top: auto;
}
.black-color{
    color: #000;
}
.gallery-text{
    font-size: 1.5rem;
}
/* about */
#about p{
    font-size:1.2rem;
}




.navbar .nav-link {
    font-size: 14px;
    text-transform: uppercase;
    padding-left: 1rem !important;
    padding-right: 1rem !important;

}

.navbar .nav-item.active {
    border-left: rgb(255, 198, 11) 3px solid;
}

.carousel-item {
    height: 450px;
}

.carousel-image-1 {
    background: url(../img/mars1.jpg)no-repeat center center/cover;
}

.carousel-image-2 {
    background: url(../img/mars3.jpg)no-repeat center center/cover;
}

.carousel-image-3 {
    background: url(../img/mars4.jpg)no-repeat center center/cover;
}

#home-heading {
    position: relative;
    min-height: 400px;
    background:linear-gradient(
        rgba(20,20,20, .5), 
        rgba(20,20,20, .5)),
        url(../img/marsoverlay.jpg)no-repeat center center/cover;
    background-attachment: fixed;
    text-align: center;
    color: #fff;
    font-size: 1.5rem;
    

}

.dark-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3)
}

#weWantYou {
    height: 500px;
}

#video-play {
    position: relative;
    min-height: 200px;
    background: url(../img/marsoverlay.jpg)no-repeat center center/cover;
    background-attachment: fixed;
    text-align: center;
    color: #fff;
}

#video-play a {
    color: #fff;
}

#page-header {
    height: 200px;
    background: url("../img/mars4.jpg")no-repeat center center/cover;
    /* background-position: 0 -340px; */
    /* background-attachment: fixed; */

    color: #fff;
    border-bottom: 1px #eee solid;
    padding-top: 50px;
}

#page-header2 {
    height: 200px;
    background:linear-gradient(
        rgba(20,20,20, .4), 
        rgba(20,20,20, .4)), url("../img/services.png")no-repeat center center/cover;
    /* background-position: 0 -280px;
    background-attachment: fixed; */
    color: #fff;
    border-bottom: 1px #eee solid;
    padding-top: 50px;
}

#page-header3 {
    height: 200px;
    background: url("../img/mg1.jpg")no-repeat center center/cover;
    /* background-position: 0 -280px; */
    /* background-attachment: fixed; */
    color: #fff;
    border-bottom: 1px #eee solid;
    padding-top: 50px;
    position: relative;
}

#page-header4 {
    height: 200px;
    background:linear-gradient(
        rgba(20,20,20, .4), 
        rgba(20,20,20, .4)), url("../img/mg5.jpg")no-repeat center center/cover;
    /* background-position: 0 -280px; */
    /* background-attachment: fixed; */
    color: #fff;
    border-bottom: 1px #eee solid;
    padding-top: 50px;
}



#about-img {
    height: 500px;
    width: 500px;
    margin-top: -50px;
}

.card-header:hover {
    background-color: #6b6b6b !important;
}
.about-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 35vh;
}
.card-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.contact-card{
    min-height: 40vh;
}

#main-footer {
    background: #000;
    color: #fff;

}

/* Style all font awesome icons */
.fab {
    padding: 10px 0;
    font-size: 30px;
    width: 55px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 50%;
}

footer a:hover .fab {
    color: coral;
    border: 2px solid coral;
}

#contact {
   

}

#plan-a,
#plan-b,
#plan-c {
    text-align: start;
}

/* Add a hover effect if you want */



@media(max-width: 1200px) {
    #about-img {
        height: 300px;
        width: 300px;
    }

}

/* Blog Section */
#page-header3 p,
h1 {
    color: rgb(255, 255, 255);
    font-weight: 500;

}
/* Career section */

/* Blog Section */
#page-header,#page-header2,#page-header3,#page-header4 p{
    font-size: 1.2rem;
}
/* For Carousel */
@media screen and (max-width: 500px) {
    .carousel-image-1 {
        background: url(../img/mars1-500.jpg)no-repeat center center/cover;
    }
    
    .carousel-image-2 {
        background: url(../img/mars3-500.jpg)no-repeat center center/cover;
    }
    
    .carousel-image-3 {
        background: url(../img/mars4-500.jpg)no-repeat center center/cover;
    }
 
  }
  @media screen and (min-width: 1000px) {
    .carousel-image-1 {
        background: url(../img/mars1-1000.jpg)no-repeat center center/cover;
    }
    
    .carousel-image-2 {
        background: url(../img/mars3-1000.jpg)no-repeat center center/cover;
    }
    
    .carousel-image-3 {
        background: url(../img/mars4-1000.jpg)no-repeat center center/cover;
    }

  }
  @media screen and (min-width: 1500px ) and (max-width:1919px) {
    .carousel-image-1 {
        background: url(../img/mars1-1500.jpg)no-repeat center center/cover;
    }
    
    .carousel-image-2 {
        background: url(../img/mars3-1500.jpg)no-repeat center center/cover;
    }
    
    .carousel-image-3 {
        background: url(../img/mars4-1500.jpg)no-repeat center center/cover;
    }
  }
  @media screen and (min-width: 1920px ) {
    .carousel-image-1 {
        background: url(../img/mars1.jpg)no-repeat center center/cover;
    }
    
    .carousel-image-2 {
        background: url(../img/mars3.jpg)no-repeat center center/cover;
    }
    
    .carousel-image-3 {
        background: url(../img/mars4.jpg)no-repeat center center/cover;
    }
  }